@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap');

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --color-bg: #0a0a0c;
  --color-accent: #4cc9f0;
  --color-panel: rgba(20, 20, 25, 0.7);
}

:root {
  background-color: var(--color-bg);
  color: #f8f9fa;
  overflow: hidden;
}

* {
  user-select: none;
}

.glass {
  background: var(--color-panel);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}
